.sequencer {
  &-grid {
    perspective: 800px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    perspective: 600px;
    padding: 1rem;
    border-radius: 5%;
    border: 2px solid black;
    border-top: 1mm ridge silver;
    border-bottom: 1mm ridge silver;
    border-right: 1mm ridge silver;
    border-left: 1mm ridge silver;
    background-size: cover;
    background-position: center;
  background-image: url("../../assets/images/stars.png");
  }
}


.row {
  display: flex;
  justify-content: center;
  transform: rotateX(15deg); 
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  
  // border-top: 1mm ridge silver;
  
  // border-right: 1mm ridge silver;
  // border-left: 1mm ridge silver;
}

@import "../../styles/mixins.scss";

button {
  @include button;
}

// #sequencer {
//   background-image: url("../../assets/images/black-metal-texture.png")
// }
.sequencer-row-0:active{
  background: linear-gradient(to bottom right, #05FFCF, #323232); 
  box-shadow:
  4px 4px 8px #05FFCF,  
  -2px -2px 5px #05FFCF, 
  0px 4px 5px rgba(0,0,0,0.2); 
}

.sequencer-row-1:active {
  background: linear-gradient(to bottom right, #5DD478, #323232);
  box-shadow: 
  4px 4px 8px , #5DD478,
  -2px -2px 5px #5DD478,
  0px 4px 5px rgba(0,0,0,0.2); 
}

.sequencer-row-2:active{
  background: linear-gradient(to bottom right, #ff57ab, #323232);
  box-shadow: 
  4px 4px 8px #ff57ab, 
  -2px -2px 5px #ff57ab,
  0px 4px 5px rgba(0,0,0,0.2); 
}

.sequencer-row-3:active{
  background: linear-gradient(to bottom right, #ff00ff, #323232);
  box-shadow: 
  4px 4px 8px #ff00ff, 
  -2px -2px 5px #ff00ff,
  0px 4px 5px rgba(0,0,0,0.2); 
}


.sequencer-row-4:active{
  background: linear-gradient(to bottom right, #ea4d71, #323232);
  box-shadow: 
  4px 4px 8px , #ea4d71,
  -2px -2px 5px #ea4d71,
  0px 4px 5px rgba(0,0,0,0.2); 
}
