@import "../../styles/mixins";

.row-select {
  @include flex-col;
  width: 5%;
  border: 1px solid silver;
  position: relative;
  right: 200px;
  margin-top: 1rem;
  &__button {
   
   margin-bottom: 22.5px;
  
  }
}
