.grid {
  padding: 1rem;
  border-radius: 5%;
  border: 2px solid black;
  background-image: url("../../assets/images/stars.png");
  border-top: 1mm ridge silver;
  border-bottom: 1mm ridge silver;
  border-right: 1mm ridge silver;
  border-left: 1mm ridge silver;
  background-size: cover;
  background-position: center;

}
