.grid {
  perspective: 800px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  perspective: 600px;
  padding: 1rem;
  border-radius: 5%;
  border: 2px solid black;
  border-top: 1mm ridge silver;
  border-bottom: 1mm ridge silver;
  border-right: 1mm ridge silver;
  border-left: 1mm ridge silver;
  background-size: cover;
  background-position: center;

}

.row {
  display: flex;
  justify-content: center;
  transform: rotateX(15deg); 
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  
  // border-top: 1mm ridge silver;
  
  // border-right: 1mm ridge silver;
  // border-left: 1mm ridge silver;
}
