@mixin button-square($active: false) {
  
  color: #ddd;
  background-color:#323232;
  border: none;
  padding: 1rem 1rem;
  cursor: pointer;
  outline: none;
  margin: .25rem;
  position: relative;
  transition: all 0.3s ease;
  text-align:center;
}

@mixin note-gradient($start-color) {
  background: linear-gradient(to bottom right, $start-color, #323232);
  box-shadow: 
    2px 2px 5px $start-color, 
    -2px -2px 5px $start-color;
}

@mixin font-gradient{
  background: linear-gradient(to right, #05ffcf, #43e96a,#4daeea,#6c6cf6,#7e42f8,#ff57ab,#ff00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin list {
  list-style: none;
}
