@mixin button {
  background: linear-gradient(to bottom right, #484848, #1c1c1c); 
  color: white;
  border: none;
  border-radius: 20%; 
  padding: 1rem 1rem;
  cursor: pointer;
  outline: none;
  margin: 5px;
  position: relative;
  box-shadow: 
  2px 2px 5px #ffffff, 
  -2px -2px 5px #ffffff,
  0px 4px 5px rgba(0,0,0,0.2); 
  transition: all 0.3s ease;
  gap: 10px; 
  
}

@mixin flex-col{
  display: flex;
  flex-direction:column;
}

@mixin list {
  list-style: none;
 
}
