@mixin button-square($active: false) {
  background-image: url("../assets/images/black-metal-texture.png");
  background-size: contain;
  background-position: center;
  color: #ddd;
  border: 1px ridge silver;
  border-radius: 15%; 
  padding: 1rem 1rem;
  cursor: pointer;
  outline: none;
  margin: .25rem;
  position: relative;
  transition: all 0.3s ease;
  text-align:center;
}

@mixin note-gradient($start-color) {
  background: linear-gradient(to bottom right, $start-color, #323232);
  box-shadow: 
    2px 2px 5px $start-color, 
    -2px -2px 5px $start-color;
}



@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin list {
  list-style: none;
}
