@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.home {
  @include flex-col;
  margin-top: 10rem;
  align-items: center;
  height: 100vh;
}

input[name="login"] {
  appearance:initial;
  @include inline-marg
}
.login {
  padding: 3rem 0 3rem 0;
 
  form {
    @include flex-col;
    margin: 3rem 0 1rem 0;
    padding-bottom: 1rem;
    border: $border-style;
    box-shadow: rgb(255, 255, 255) 1px 0 10px;
    
  }
  &-heading {
    display: flex;
    justify-content: center;
    border: $border-style;
    box-shadow: rgb(255, 255, 255) 1px 0 10px;
   
  }
  h2,
  label {
    color: white;
    padding: 1rem;
  }


  &-button {
    @include inline-marg;
    width: 88%;
    margin-top: 2rem;
    padding: 1rem;
    background: transparent;
    box-shadow: rgb(255, 255, 255) 1px 0 10px;
    color: white;
    font-family: $font-stack;
    font-size: 1.25rem;
  }

  &-button:hover{
    cursor:pointer;
    @include font-gradient;
  }
}
