.header__container{
  display:flex;
  flex-direction: column;
}

.header {
  margin-top:1rem;
  height: 5rem;
  background-image: url("../../assets/images/brainbeat-logo.png");
  background-size:cover;
  background-position:center;
 
}
