@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";


.header__container{
  @include flex-col;
}

.header {
  align-items: center;
  display:flex;
  height: 5rem;
  margin-top: 5rem;
  padding: 2.5rem;
  border: $border-style;
    box-shadow: rgb(255, 255, 255) 1px 0 10px;
}

h1 {
  background: linear-gradient(to right, #05ffcf, #43e96a,#4daeea,#6c6cf6,#7e42f8,#ff57ab,#ff00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}
 