.header__container{
  display:flex;
  flex-direction: column;
}



.header {
  height: 10rem;
  background-image: url("../../assets/images/brainbeat-logo.png");
  background-size:cover;
  background-position:center;
 
}
