
* {
  margin: 0;
  box-sizing: border-box;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  background-image: url("./assets/images/stars.png");

}

.App {
  height: 100%;
  border: 1mm ridge silver;
  border-radius: 5%;
  

}
